.inicioComponent{
    background-image: linear-gradient(#E3F3FF, #FFFFFF);
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 8% 100%, 0 100%, 0 60%, 5% 53%, 0 35%, 0 4%, 3% 20%);
    position: relative;
    &__header{
        padding-top: 10px;
        @include flex-around;
        &__btnContainer{
            display: flex;
            align-items: flex-start;
            button, a{
                margin: 1em;
            }
        }
        //Logo da empresa
        &>img{
            display: block;
            width: 10%;
            min-width: 83px;
        }
    }
    
    &__paginaInicial{
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        h1{
            font-size: 2.2rem;
        }
        article{
            
            p{
                width: 80%;
                font-size: 1.1rem;
                margin: 1rem 0;
                line-height: 30px; 
            }
            button{
                margin-top: 1.5rem;
            }
        }
        .splashworkers{
            img{
                max-width: 600px;
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width:800px){
    .inicioComponent{
        clip-path: none;
        &__header{
            flex-direction: column;
            &>img{
                margin: 0 auto;
            }
            a{
                img{
                    display: none;
                }
            }
        }
        &__paginaInicial{
            flex-direction: column;
            article{
                h1{
                    text-align: center;
                }
                p{
                    width: 100%;
                }
                button{
                    display: block;
                    margin: 1rem auto;
                }
                margin-bottom: 1rem;
            }
            .splashworkers{
                img{
                    width: 100%;
                }
                margin-bottom: 1rem;
            }

        }
    }
}